@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

.india {
    background: linear-gradient(90deg, #ff9933, #ffffff, #138808);
    color: transparent;
    background-clip: text;
}

.chevron {
    transform: translateX(-50%);
    animation: animateSvg 0.7s infinite linear alternate;
}

@keyframes animateSvg {
    to{
        transform: translate(-50%, 10%);
    }
}

@layer utilities {
    .Paused {
        animation-play-state: paused;
    }
}

.themelight{
    background-color: white;
    color: #111;
}
.themedark{
    background-color: #111;
    color: white;
}

.photo{
    width: 30%;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.loader{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid #ddd;
    border-top-color: #111;
    animation: untoldcoding 1s infinite;
}

@keyframes untoldcoding  {
    100% {
        rotate: 360deg;
    }
}
