@tailwind base;
@tailwind components;
@tailwind utilities;

.india {
    background: linear-gradient(90deg, #ff9933, #ffffff, #138808);
    color: transparent;
    background-clip: text;
}

.chevron {
    transform: translateX(-50%);
    animation: animateSvg 0.7s infinite linear alternate;
}

@keyframes animateSvg {
    to{
        transform: translate(-50%, 10%);
    }
}